@charset "utf-8";
/* 초기화 */
body, h1, h2, h3, ul, p, figure { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none;}
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
/* 웹폰트 */
body { width: 800px; margin: 8px auto 0 auto;  font-family: 'Dongle', sans-serif; }
 
/* 헤더 */
#header { display: flex;
          flex-direction: row;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center; position: relative; height: 150px; background-color: #f46075;   }
#header h1 { width: 185px; }
#header h1 a { display: block; height: 150px;
              background-image: url(../images/logo.png) no-repeat; 
              text-indent: -5000px; }
/* gnb
#gnb { position: absolute; bottom: 45px; left: 297px; 
       }
#gnb ul { }
#gnb ul li { float: left; margin-right: 20px;  }
#gnb ul li a { color: #fff; } */
#gnb {  }
#gnb ul { display: flex; margin-right: 107px; }
#gnb ul li { margin-left: 30px;  }
#gnb ul li a { color: #fff; font-family: 'Noto Sans KR', sans-serif; }
#gnb ul li a:hover { color: rgba(245, 253, 4, 0.901); }

/* 메인 */
main { width: 564px; float: left; }
#content { width: 564px;  } 
#content h1 {  }
#content article { width: 272px; height: 242px; float: left; border: 1px solid #cccccc;
                   margin: 0 0 10px 10px; box-sizing: border-box; padding: 25px 12px 20px; }
#content article:hover { background: #ffffcc; border-color: #cdff05}
#content article:hover a h3 { color: #cdff05;}
#content article a { display: block; color: #000; line-height: 70px;}
                       
#content article a h3 { padding 30px 10px 0 10px; margin-bottom: 5px; font-size: 16px; }
#content h2 {  padding-left: 6px; line-height: 82px; font-family: 'Noto Sans KR', sans-serif; }
#content p { font-size: 14px; line-height: 18px;}
#puppyphoto { width: 202px; height: 484;  float: right; margin-top: 82px;
            background: #ffffcc ; border: 1px solid #006400; box-sizing: border-box; padding: 10px; text-align: center;}
            


#footer { clear: both; padding: 20px 0;
        background: #333; color: #fff; 
        text-align: center;}